body{
    /*background-color: aquamarine;*/
    padding: 5px;

    background-image: url("IMG/bg3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

        /*This just stops me getting horizontal scrolling if anything overflows the width*/
    overflow-x: hidden;
}

.trans{
    background-color: rgba(254, 254, 254, 0.5);
    border: 2px solid white;
}





/*---------- Top Bar CSS -------------*/

.top-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 15px;
}

.logoT{
    width: 130px;
    height: 100px;
}

.titleT{
    width: 600px;
    height: 100px;
}





/*---------- CENTER BAR -------------*/

.center-bar{
    /*border: 2px solid white;*/
    display: flex;
    height: 72vh;
    width: 100%;

    /*Added*/
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;
    will-change: overflow;
}



.left-side{
    width: 15vw;
    padding: 15px 20px 10px 20px;
    margin-right: 15px;
}
.a-button{
    display: block;
    background-color: rgb(120, 182, 238);
    margin: 0 0 10px 0;
    padding: 7px;
    text-align: center;

    text-decoration: none;
    color: black;
    font-family: impact;
    border: 1px solid rgb(0, 117, 255);
}

.a-button:hover{
    background-color: rgb(53, 131, 235);
}




.right-side{
    width: 82vw;
    padding: 0 20px 10px 25px;

        /*Add*/
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.home-billete{
    margin: 0px auto;
    display: block;
}


.vid-h2{
    text-align: center;
}

.vid-vid{
    margin:0px auto;
    display: block;
    width: 560px;
    height: 315px;
}

.vid-box-2{
    border: 2px solid black;
    margin: 0px auto 35px auto;
    padding: 1px 40px 40px 40px;
    background-color: rgba(128, 247, 251, 0.3);
    display: table;
}

.vid-box-3{
    border: 2px solid black;
    margin: 35px auto;
    padding: 40px;
    background-color: rgba(128, 247, 251, 0.3);
    display: table;
}




/*---------- BOTTOM BAR -------------*/

.bottom-bar{
    border: 2px solid white;
    display: flex;
    margin-top: 15px;
}

.rifle{
    width: 50px;
    height: 50px;
    margin: 0 5px 0 15px;
}

.icon{
    width: 40px;
    height: 40px;
    margin: 7px 2px 0 2px;
}

.name{
    font-size: 20px;
    margin: 14px 1px 0 1px;
}


.text-read-pad{
    background-color: rgba(254, 254, 254, 0.7);
    padding: 15px;
    margin: 25px;
}

